minCalories=2100
maxCalories=3500
minProteins=40
maxProteins=160
minCarbohydrates=225
maxCarbohydrates=325
minFats=50
maxFats=80
minIron=8
maxIron=45
minSodium=1200
maxSodium=2300
minVitaminA=1.2
maxVitaminA=7.5
minVitaminB=1.6
maxVitaminB=5
minVitaminC=75
maxVitaminC=1000
ageMultiplier=4.7
heightMultiplier=4.7
weightMultiplier=4.3
addTerm=655
sedentary=20
lightActivity=30
moderateActivity=40
veryActive=50
minCaloriesPercentage=-10
maxCaloriesPercentage=10
minProteinsPercentage=25
maxProteinsPercentage=30
minFatsPercentage=20
maxFatsPercentage=30
minCarbohydratesPercentage=40
maxCarbohydratesPercentage=50
